<div class="header">
  <h1 class="header__title">
    Black music
  </h1>

  <h4 class="header__info info1">
    imamadeno-kiji
  </h4>

  <h4 class="header__info info2">
    Information
  </h4>
  
  <h4 class="header__info info3">
    Comments Location
  </h4>
</div>

<div class="kiji-down">
  <div class="kiji-box">
    <% @blogs.each do |blog| %>
    <div class="kiji", data-id="<%= blog.id%>">
      <img src="<%= blog.image %>" class="kiji-image" alt="Album Jacket">
      <div class="blog-info">
        <p class="kiji-name"><%= blog.title %></p>
        <p class="kiji-date"><%= blog.created_at.strftime("%Y年%m月%d日") %> <br>の投稿</p>
      </div>
    </div>
    <% end %>
  </div>
  
</div>

<div class="contents">
  <div class="left-box">
    <div class="youtube">
      <iframe src="<%= @blog.video_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscree class="video"></iframe>
    </div>
    <div class="calendar">
      <div class="year", data-year="2019-10-" >
        <%= Calendar.year.strftime("%Y年%m月") %>
      </div>
      <div class="week"><p>日  月  火  水  木  金  土</p></div>
      <div class="calender--date"> 

        <div class="start">
        <%= Calendar.start %>
        </div>           

        <% for i in 1..Calendar.date %>
        <br/>
          <div class="dates" id="<%= i %>">
            <%= i %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="profile">
      <a href="" class="main">ポートフォリオ</a>
      <p class="my-info">
        当サイトの紹介をさせてもらいます。<br>
        右上のImamadeno-kijiで過去1週間分の記事を確認できます。<br>またカレンダーの日にちを押すことでその日の記事も取得できます。(2~8日までの1週間分だけ記事があります)<br>シングルページでAjaxを多用したサイトになっており、<br>
        コメントも非同期で送ることができます。<br>ランキングはスクレイピングで習得しました。
      </p>
    </div>

    <div class="ranking-box">
    <p class="ranking-info">
      Latest Ranking
    </p>
      <% @informations.each.with_index do |info, i|%>
        <div class="ranking-box__ranking">
          <p class="ranking-box__ranking__num">
            No'<%= i + 1%>
          </p>
        <img src="http://www.billboard-japan.com<%= info.img_url %>" class="ranking-box__ranking__img" alt="Album Jacket">
          <div class="ranking-box__ranking__artist">
            <p class="ranking-box__ranking__artist__title">
              <%= info.music_title %>
            </p>
            <p class="ranking-box__ranking__artist__name">
              <%= info.artist_name %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="blog">
    <div class="blog-main">
      <h2 class="blog-title"><%= @blog.title %></h2>
      <div class="blog-text"><%= simple_format(@blog.text) %></div>
    </div>

    <p id="comment-link">〜コメント一覧〜</p>
    <div class="comments">
      <% @comments.each do |comment|%>
        <div class="comment-info">
          <p class="comment-name"><%= comment.nickname %></p>
          <p class="comment-time"><%= comment.created_at.strftime("%Y-%m-%d %H:%M") %></p>
        </div>
        <div class="comment-text"><%= simple_format(comment.comment) %>
        </div>
      <% end %>
    </div>

    <div class="create-comment">
      <p>〜コメントを送る〜</p>
      <%= form_with model:@comment, url: "mains#create", method: :post, remote: true  do |f|  %>
        <%= f.text_field :nickname, placeholder: "ニックネーム", id: "f_nickname" %>
        <br>
        <%= f.text_area :comment, placeholder: "コメントを入力して下さい", id: "f_comment" %>
        <br>
        <%= f.hidden_field :blog_id, :value => @blog.id %>
        <%= f.submit "送信", id: "f_submit"%>
      <% end %>
    </div>
  </div>


  <div class="right-box">
  <p class="right-info">
    Latest Ranking
  </p>
    <% @informations.each.with_index do |info, i|%>
      <div class="right-box__ranking">
        <p class="right-box__ranking__num">
          No'<%= i + 1%>
        </p>
      <img src="http://www.billboard-japan.com<%= info.img_url %>" class="right-box__ranking__img" alt="Album Jacket">
        <div class="right-box__ranking__artist">
          <p class="right-box__ranking__artist__title">
            <%= info.music_title %>
          </p>
          <p class="right-box__ranking__artist__name">
            <%= info.artist_name %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>