<!DOCTYPE html>
<html>
  <head>
    <title>Black Music</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bahianita|Bungee+Inline|Cormorant|Modak|Noto+Serif+JP&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="discription" content="当サイトはBlack Musicの歌詞を載せるポートフォリオサイトとなっています。">

    <meta property="og:site_name" content="Black Music">
    <meta property="og:title" content="Black Music">
    <meta property="og:discription" content="当サイトはBlack Musicの歌詞を載せるポートフォリオサイトとなっています。">
    <meta property="og:title" content="Black Music">
    <meta property="og:url" content="http://black-music.herokuapp.com/">

    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
